{% extends 'base.html' %}

{% block title %}Connexion{% endblock %}

{% block intro_content %}
    <form method='POST' class="form-signin">
        <div class="form-group">
			{{ form.hidden_tag() }}
		</div>
        <h2 class="fw-normal">Connexion</h2>
		<div class="form-group">
			<!--{{ form.username.label }}-->
            {{ form.username(class="form-control") }}
		</div>
		<div class="form-group">
			<!--{{ form.password.label }}-->
            {{ form.password(class="form-control") }}
		</div>
        {{ form.remember_me(class="form-control") }}
        {{ form.remember_me.label }}
        <button type="submit" class="btn">Valider</button>
	</form>

	{% if username %}<h3>Bonjour {{ username }} :)</h3>
    {% endif %}

{% endblock %}