{% extends "bootstrap/base.html" %}

{% import 'macros.html' as macros %}

{% block title %}CNSE base page{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"
			  type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"
		 type="image/x-icon"> 
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }} 
{% endblock %}

{% block content %}
<div id="intro" class="container">
	<div class="row">
		<div class="col-lg-1">
		</div>
		<div class="col-lg-10">
			{{ macros.render_navbar(1) }}
			<div class="row">
				{% block intro_content %}
					<h1>Club Nautique<br>de<br>St-Etienne</h1>
					<img class="boat" src={{ url_for('static', filename='boat.png') }}>
				{% endblock %}
				{% block intro_scroll %}
				{% endblock %}
			</div>
		</div>
		<div class="col-lg-1">
		</div>
	</div>
</div>
{% block subsection %}{% endblock %}
{% endblock %}
