{% extends "bootstrap/base.html" %}

{% import 'macros.html' as macros %}

{% block title %}accueil{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block content %}
<div id="intro" class="container">
	<div class="col col-md-2">
		<p> </p>
	</div>
	<div class="col-md-8">
	{{ macros.render_navbar(1) }}
	<div class="row">
		<h1>Club Nautique<br>de<br>St-Etienne</h1>
		<img class="boat" src={{ url_for('static', filename='boat.png') }}>
		<div class="scroll-down">
			<img src={{ url_for('static', filename='arrow.png') }}>
		</div>
	</div></div>
	<div class="col col-md-2">
		<p> </p>
	</div>
	
</div>

<div id="conditions" class="container">
	<div class="col col-md-2">
		<p> </p>
	</div>
	<div class="col-sm-6 col-md-5">
		<div class="row">
			<div class="wind">
			<img class="spot" src={{ url_for('static', filename='spot.png') }}>
			<img class="wind-arrow" src={{ url_for('static', filename='wind.png') }}>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-3">
		<h2>Conditions aujourd'hui</h2>
		<p>Ça à l'air top !</p>
	</div>
	<div class="col col-md-2">
		<p> </p>
	</div>
	
</div>
{% endblock %}
