{% extends 'base.html' %}

{% block title %}CNSE Accueil{% endblock %}
{% block intro_scroll %}
	<div class="scroll-down">
		<img src={{ url_for('static', filename='arrow.png') }}>
	</div>
{% endblock %}
{% block subsection %}
<div id="conditions" class="container">
	<div class="col col-md-2">
	</div>
	<div class="col-sm-6 col-md-5">
		<div class="row">
			<div class="wind">
			<img class="spot" src={{ url_for('static', filename='spot.png') }}>
			<img class="wind-arrow" src={{ url_for('static', filename='wind.png') }} style="transform: rotate({{ weather_data['wind_deg'] }}deg)">
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-3 weather-conditions">
		<h2>Conditions en ce moment</h2>
		<p><img class="weather-icon" src="{{ weather_data['weather_icon_url'] }}"> {{ weather_data['weather_descr']|capitalize }}<br>
		<span class="kpi">{{ weather_data['temp'] }}°C</span> température réelle<br>
		<span class="kpi">{{ weather_data['temp_felt'] }}°C</span> température ressentie<br>
		<span class="kpi">{{ weather_data['wind_speed'] }} kt</span> de vent</p>
	</div>
	<div class="col col-md-2">
	</div>
</div>
{% endblock %}
