{% macro render_menu(page_nm, route, is_active) %}
	<a class="nav-item nav-link" href="{{ route }}" {% if is_active %}style="font-weight: bold; color: lightsteelblue;"{% endif %}>{{ page_nm }}</a>
{% endmacro %}

{% macro render_navbar(int) %}
	<nav class="navbar navbar-expand-md navbar-light bg-white">
		<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				{% set i = 0 %}
				{% for page_nm in ['Accueil', 'Stages', 'Location', 'Adhésion']%}
					{% set is_active = False %}
					{% if loop.index == int %}
						{% set is_active = True %}
					{% endif %}
					{{ render_menu(page_nm, '/', is_active) }}	
					{% set i = i+1 %}
				{% endfor %}
			</div>
		</div>
	</nav>
	{% endmacro %}

{% macro render_article_thumb(title, image_file, text) %}
<div class="col-sm-6 col-md-4">
		<div class="article">
			<img src={{ url_for('static', filename=image_file) }}>
			<h3>{{ title }}</h3>
			<p>{{ text  }}</p>
		</div>
	</div>
{% endmacro %}

{% macro render_article_card(title, image_file, text, date, id) %}
	<a type="button" data-toggle="modal" data-target="#{{ id }}">
	<div class="card article">
		<img class="card-img-top" src={{ url_for('static', filename=image_file) }}>
		<div class="card-body">
			<h5 class="card-title">{{ title }}</h5>
			<p class="card-text">{{ text }}</p>
			<p class="card-text"><small class="text-muted">{{ date }}</small></p>
		</div>
	</div>
	</a>
	<!-- Modal -->
	<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<img class="card-img-top" src="{{ url_for('static', filename=image_file) }}">
				<div class="modal-body">
					<h5 class="card-title">{{ title }}</h5>
					<p class="card-text">{{ text }}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
